<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>


<body>
    <form method="POST">
        {% csrf_token %}
        <table border="1">
            <tr>
                <td>Old Password</td>
                <td><input type="password"  placeholder="Enter Your Old Password" name="txt_oldpassword" id=""></td>
            </tr>
            <tr>
                <td>New Password</td>
                <td><input type="password"  placeholder="Enter Your New Password" name="txt_newpassword" id=""></td>
            </tr>
            <tr>
                <td>Re-Type Password</td>
                <td><input type="password" placeholder="Re-Type your Password" name="txt_repassword" id=""></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" name="btn_submit" value="Change Password"><input type="reset" name="btn_submit" value="Cancel"></td>
            </tr>
        </table>
    </form>
</body>
</html>
{% if msg %}
<script>
    alert("{{msg}}");
    window.location="{% url 'User:MyProfile' %}"
</script>
{% endif %}