<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback</title>
</head>
<body>
    <form method ="POST">
        {% csrf_token %}
        <table border="1">
            <tr>
                <td>Feedback</td>
                <td><input type="text" name="txt_feedback" id=""></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" name="btn_submit" id="" value="Submit"></td>
            </tr>
        </table>
    </form>
    
</body>
</html>