<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Books</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <h2>My Books</h2>
        <table border="1">
            <tr>
                <td>SINO</td>
                <td>Book Name</td>
            </tr>
            {% for i in data %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.book.book_title}}</td>
            </tr>
            {% endfor %}
        </table>
    </form>
</body>
</html>