<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Assignment</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data" >
        {% csrf_token %}
        <table border="1">
            <tr>
                <td>File</td>
                <td><input  required type="file" name="file_assignment" id=""></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" name="btn_submit"  value="Submit" id=""></td>
            </tr>
        </table>


    </form>
</body>
</html>
{% if msg %}
<script>
    alert("{{msg}}");
    window.location="{% url 'User:ViewAssignments' %}"
</script>
{% endif %}
