<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Notes</title>
</head>
<body>
    <h2>Notes</h2>
    <form method="POST">
        {% csrf_token %}
        <tr>
            <td>Semester</td>
            <td><select name="sel_semester" id="sel_semester">
                <option>Select Semester</option>
                {% for i in semesterdata %}
                <option value="{{i.id}}">{{i.semester_name}}</option>
                {% endfor %}
            </select></td><br>
        </tr><br>
    </form>
    <div id="result"></div>
</body>
</html>
<!-- jQuery & AJAX -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    $("#sel_semester").change(function () {
      var semid = $(this).val();
      var ur = "{% url 'User:AjaxNotes' %}";
      $.ajax({
        url: ur,
        data: { semid: semid },
        success: function (data) {
          $("#result").html(data);
        },
      });
    });
  </script>