<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EditProfile</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table border="1">
            <tr>
                <td>Name</td>
                <td><input type="text" name="txt_name" id="" value="{{data.staff_name}}"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" name="txt_email" id="" value="{{data.staff_email}}"></td>
            </tr>
            <tr>
                <td>Contact</td>
                <td><input type="text" name="txt_contact" id="" value="{{data.staff_contact}}"></td>
            </tr>
            <tr>
                <td>Choose Photo</td>
                <td><input type="file" name="file_photo" value="{{data.staff_photo}}" id=""></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" name="btn_submit"  value="Update" id=""></td>
            </tr>
        </table>

    </form>
</body>
</html>
{% if msg %}
<script>
    alert("{{msg}}");
    window.location="{% url 'Staff:MyProfile' %}"
</script>
{% endif %}