<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment Mark</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <table border="1">
            <tr>
                <td>Mark</td>
                <td><input type="text" required placeholder="Enter Assignment Mark" name="txt_mark" id=""></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" name="btn_submit" id="" value="Submit"></td>
            </tr>
        </table>
    </form>
    
    
</body>
</html>
{% if msg %}
<script>
    alert("{{msg}}");
    window.location="{% url 'Staff:ViewUploads' %}"
</script>
{% endif %}