<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table border="1">
            <tr>
                <td>Course</td>
                <td><select name="sel_course" id="sel_course">
                    <option value="">Select Course</option>
                    {% for i in coursedata %}
                    <option value="{{i.id}}">{{i.course_name}}</option>
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td>Semester</td>
                <td><select name="sel_semester" id="sel_semester" onchange="getsubject()">
                    <option value="">Select Semester</option>
                    {% for i in semesterdata %}
                    <option value="{{i.id}}">{{i.semester_name}}</option>
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td>Subject</td>
                <td><select name="sel_subject" id="sel_subject">
                    <option value="">Select Subject</option>
                </select></td>
            </tr>
            <tr>
                <td>Notes Title</td>
                <td><input type="text" name="txt_title" id=""></td>
            </tr>
            <tr>
                <td>Notes</td>
                <td><input type="file" name="file_notes" id=""></td>
            </tr>
            <tr>
                <td align="center" colspan="2"><input type="submit" name="btn_submit" id="" value="Submit"></td>
            </tr>
        </table>
        <h2>Notes</h2>
        <table border="1">
            <tr>
                <td>SINO</td>
                <td>Title</td>
                <td>Note</td>
                <td>Course</td>
                <td>Semester</td>
                <td>Subject</td>
                <td>Action</td>
            </tr>
            {% for i in notesdata %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.notes_title}}</td>
                <td><a href="{{i.notes_file.url}}">view</a></td>
                <td>{{i.subject.course.course_name}}</td>
                <td>{{i.subject.semester.semester_name}}</td>
                <td>{{i.subject.subject_name}}</td>
                <td><a href="{% url 'Staff:delnotes' i.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </form>
</body>
</html>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
     function getsubject() {
        var cid = document.getElementById('sel_course').value
        var semid = document.getElementById('sel_semester').value

        var ur = "{% url 'Staff:AjaxSubject' %}";
        $.ajax({
            url: ur,
            data: { cid: cid, semid: semid },
            success: function (data) {
                $("#sel_subject").html(data);
            },
        });
    };
</script>
{% if msg %}
<script>
    alert("{{msg}}");
    window.location="{% url 'Staff:Notes' %}"
</script>
{% endif %}