<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Books</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table border="1">
            <tr>
                <td>Name</td>
                <td><input  type="text" placeholder="Enter Book Name" name="txt_name" id=""></td>
                <td>Genre</td>
                <td><select required name="sel_genre" id="">
                        <option value="">Select Genre</option>
                        {% for i in genredata %}
                        <option value="{{i.id}}">{{i.genre_name}}</option>
                        {% endfor %}
                    </select></td>
            </tr>
            <tr>
                <td align="center" colspan="4"><input type="submit" name="btn_submit" id="" value="Submit"></td>
            </tr>
        </table>
        <h2>Book List</h2>
        <table border="1">
            <tr>
                <td>SINO</td>
                <td>Title</td>
                <td>Details</td>
                <td>Genre</td>
                <td>Photo</td>
                <td>Author</td>
                <td>Total Books</td>
                <td>Books Taken</td>
                <td>Remaining Books</td>
            </tr>
            {% for i in book %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.book_title}}</td>
                <td>{{i.book_details}}</td>
                <td>{{i.genre.genre_name}}</td>
                <td><img width="40" src="{{i.book_photo.url}}" alt=""></td>
                <td>{{i.book_author}}</td>
                <td>{{totalstock}}</td> 
                <td>{{totalissue}}</td>
                <td>{{i.total_stock}}</td>
            </tr>
            {% endfor %}
        </table>


    </form>
</body>
</html>