<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Students</title>
</head>

<body>
    <form method="POST">
        {% csrf_token %}
        <table border="1">
            <tr>
                <td>SINO</td>
                <td>Name</td>
                <td>Email</td>
                <td>Contact</td>
                <td>Class Name</td>
                <td>Academic Year</td>
                <td>Course</td>
                <td>Action</td>
            </tr>
            {% for i in data %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.user_name}}</td>
                <td>{{i.user_email}}</td>
                <td>{{i.user_contact}}</td>
                <td>{{i.assignclass.classid.class_name}}</td>
                <td>{{i.assignclass.academicyear.academicyear_year}}</td>
                <td>{{i.assignclass.classid.course.course_name}}</td>
                <td><a href="{% url 'Staff:InternalMark' i.id %}">Add Internal Mark</a></td>
            </tr>
            {% endfor %}
        </table>
    </form>
</body>

</html>