<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academic Year</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <table border="1">
            <tr>
                <td>Academic Year</td>
                <td><input type="text" name="txt_academicyear" id=""></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" name="btn_submit" id="" value="Submit"></td>
            </tr>
        </table>
        <table border="1">
            <tr>
                <td>SINO</td>
                <td>Academic Year</td>
                <td>Action</td>
            </tr>
            {% for i in data %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.academicyear_year}}</td>
                <td><a href="{% url 'Admin:delyear' i.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </form>
</body>
</html>
{% if msg %}
<script>
    alert("{{msg}}");
    window.location="{% url 'Admin:AcademicYear' %}"
</script>
{% endif %}