{% load mathfilters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fee List</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <h2>Student Fee List</h2>
        <table border="1">
            <tr>
                <td>Student Name</td>
                <td>{{student.user_name}}</td>
            </tr>
            <tr>
                <td>Department</td>
                <td>{{student.assignclass.classid.course.department.department_name}}</td>
            </tr>
            <tr>
                <td>Course</td>
                <td>{{student.assignclass.classid.course.course_name}}</td>
            </tr>
        </table><br><br>
        <table border="1">
    <tr>
        <th>Sl No</th>
        <th>Semester</th>
        <th>Total</th>
        <th>Paid</th>
        <th>Remaining</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    {% for f in fees %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ f.semester.semester_name }}</td>
        <td>{{ f.total_amount }}</td>
        <td>{{ f.paid }}</td>
        <td>{{ f.remaining }}</td>
        <td>
            {% if f.remaining == 0 %}
                Completed
            {% else %}
                Pending
            {% endif %}
        </td>
        <td>
            {% if f.remaining > 0 %}
            <a href="{% url 'Admin:Payment' f.id %}">Pay Fees</a>
            {% else %}
            —
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

    </form>
</body>
</html>