<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin HomePage</title>
</head>
<body>
    <h2>Admin HomePage</h2>
    <tr>
        <td colspan="2" align="center"><a href="{% url 'Admin:UserList' %}">UserList</a></td><br>
        <td colspan="2" align="center"><a href="{% url 'Admin:StaffRegistration' %}">Staff Registration</a></td><br>
        <td colspan="2" align="center"><a href="{% url 'Admin:District' %}">Add District</a></td><br>
        <td colspan="2" align="center"><a href="{% url 'Admin:Place' %}">Add Place</a></td><br>
        <td colspan="2" align="center"><a href="{% url 'Admin:Category' %}">Add Category</a></td><br>
        <td colspan="2" align="center"><a href="{% url 'Admin:Subcategory' %}">Add Subcategory</a></td><br>
        <td colspan="2" align="center"><a href="{% url 'Admin:Subject' %}">Add Subject</a></td><br>
        <td colspan="2" align="center"><a href="{% url 'Admin:Genre' %}">Add Genre</a></td><br>
        <td colspan="2" align="center"><a href="{% url 'Admin:Class' %}">Add Class</a></td><br>
        <td colspan="2" align="center"><a href="{% url 'Admin:AcademicYear' %}">Add Academic Year</a></td><br>
        <td colspan="2" align="center"><a href="{% url 'Admin:Department' %}">Add Department</a></td><br>
        <td colspan="2" align="center"><a href="{% url 'Admin:Semester' %}">Add Semester</a></td><br>
        <td colspan="2" align="center"><a href="{% url 'Admin:Course' %}">Add Course</a></td><br>
        <td colspan="2" align="center"><a href="{% url 'Admin:ViewComplaint' %}">View Complaint</a></td><br>
        <td colspan="2" align="center"><a href="{% url 'Admin:ViewFeedback' %}">View Feedback</a></td><br>
        <td colspan="2" align="center"><a href="{% url 'Admin:StaffList' %}">View StaffList</a></td><br>
        <td colspan="2" align="center"><a href="{% url 'Admin:UserList' %}">View Students</a></td><br>
        <td colspan="2" align="center"><a href="{% url 'Admin:Book' %}">View Book</a></td><br>
        <td colspan="2" align="center"><a href="{% url 'Admin:ViewCertificateRequest' %}">View Certificate Request</a></td><br>
        <td colspan="2" align="center"><a href="{% url 'Admin:ViewExamRegistration' %}">View ExamRegistration</a></td><br>
        <td colspan="2" align="center"><a href="{% url 'Admin:Exam' %}">Schedule Exam</a></td><br>
        <td colspan="2" align="center"><a href="{% url 'Admin:ViewLeaveRequest' %}">View Leave Request</a></td><br>
        <td colspan="2" align="center"><a href="{% url 'Admin:Announcement' %}">Announcements</a></td><br>
        <td colspan="2" align="center"><a href="{% url 'Admin:ViewTimeTable' %}">View TimeTable</a></td>
    </tr>
</body>
</html>