<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subject</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <table border="1">
            <tr>
                <td>Subject Name</td>
                <td><input type="text" required placeholder="Enter Subject Name" name="txt_subject" id=""></td>
            </tr>
            <tr>
                <td>Department</td>
                <td><select  required name="sel_department" id="sel_department">
                    <option>Select Department</option>
                    {% for i in departmentdata %}
                    <option value="{{i.id}}">{{i.department_name}}</option>
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td>Course</td>
                <td><select required  name="sel_course" id="sel_course">
                    <option>Select Course</option>
                    
                    <option></option>
                </select></td>
            </tr>
            <tr>
                <td>Semester</td>
                <td><select required name="sel_semester" id="">
                    <option>Select Semester</option>
                    {% for i in semesterdata %}
                    <option value="{{i.id}}">{{i.semester_name}}</option>
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" name="btn_submit"  value="Submit" id=""></td>
            </tr>
        </table>
        <table border="1">
            <tr>
                <td>SINO</td>
                <td>Subject</td>
                <td>Department</td>
                <td>Course</td>
                <td>Semester</td>
                <td>Action</td>
            </tr>
            {% for i in subject %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.subject_name}}</td>
                <td>{{i.course.department.department_name}}</td>
                <td>{{i.course.course_name}}</td>
                <td>{{i.semester.semester_name}}</td>
                <td><a href="{% url 'Admin:delsubjects' i.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </form>
    
</body>
</html>
<!-- jQuery & AJAX -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    $("#sel_department").change(function () {
      var dpid = $(this).val();
      var ur = "{% url 'Admin:AjaxCourse' %}";
      $.ajax({
        url: ur,
        data: { dpid: dpid },
        success: function (data) {
          $("#sel_course").html(data);
        },
      });
    });
  </script>


{% if msg %}
<script>
    alert("{{msg}}");
    window.location="{% url 'Admin:Subject' %}"
</script>
{% endif %}